<header>

    <!-- Site Logo -->

    <a href="/" id="home-button">
        <div id="site-logo">
            <div id="site-logo-container">
                <img src="/images/logo.png" alt="Site Logo">
            </div>
            <span id="site-name">Your To-Do List</span>
        </div>
    </a>

    <!-- Site Options -->

    <div id="site-options">
        <a href="/user/sign-up">Sign-Up</a> |
        <a href="/user/sign-in">Sign-In</a>
    </div>
    
</header>