/* Home Heading */

h1 {
    width: 100%;
    color: var(--primary-theme-color);
    text-align: center;
}

/* Home To Do Form */

#to-do-form {
    display: flex;
    flex-wrap: wrap;
    --form-content-height: 10vh;
}

#to-do-form > div {
    padding: 1% 3%;
    border: solid #e0e0e0 1px;
    box-sizing: border-box;
}

#to-do-form > div > label {
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--tertiary-theme-color);
}

.to-do-form-input {
    width: 100%;
    height: var(--form-content-height);
    border-width: 0;
    resize: none;
}

/* Description Container */

#description-container {
    width: 100%;
    flex-grow: 2;
}

/* Category Container */

#category-container {
    width: 50%;
    flex-grow: 1;
}

/* Due Date Container */

#due-date-container {
    width: 50%;
    flex-grow: 1;
}

/* Submission Buttons */

#submit-buttons-container {
    width: 100%;
    height: var(--form-content-height);
    padding: 0 12%;
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
}

#submit-buttons-container > button {
    width: 20%;
    border: solid black 1px;
    border-radius: 0;
    text-transform: uppercase;
    color: var(--secondary-theme-color);
    font-size: 1rem;
}

#add-task {
    background-color: #4a4a4a;
}

#delete-tasks {
    background-color: var(--primary-theme-color);
}

#done {
    background-color: #0052FF;
}