/* General Properties */

:root {
    --primary-theme-color: #e05951;
    --secondary-theme-color: white;
    --tertiary-theme-color: #4a4a4a;
    --panel-height: 15vh;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-theme-color);
    font-family: sans-serif;
}

div{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.whitespace {
    width: 100%;
}

/* Layout Properties */

#header-space {
    height: var(--panel-height);
}

main {
    min-height: 493px;
}